{% load static %}
<link href="{% static 'utils/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'utils/css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'utils/css/plugins/ztree/awesomeStyle/awesome.css' %}" rel="stylesheet">
<link href="{% static 'utils/css/plugins/toastr/toastr.min.css' %}" rel="stylesheet">
<link href="{% static 'utils/css/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet">
<link href="{% static 'utils/css/style.css' %}" rel="stylesheet">
<link href="{% static 'utils/css/plugins/vaildator/jquery.validator.css' %}" rel="stylesheet">
<link href="{% static 'utils/css/plugins/datatables/datatables.min.css' %}" rel="stylesheet">
<link href="{% static 'layui/css/layui.css' %}" rel="stylesheet">
<link href="{% static 'utils/css/jumpserver.css' %}" rel="stylesheet">
    <link href="{% static 'working/css/admin.css' %}" rel="stylesheet">
    <link href="{% static 'working/css/amazeui.css' %}" rel="stylesheet">
    <link href="{% static 'working/css/amazeui.flat.css' %}" rel="stylesheet">