{% load static %}
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'utils/js/plugins/sweetalert/sweetalert.min.js' %}"></script>
<script src="{% static 'utils/js/bootstrap.min.js' %}"></script>



<script src="{% static "utils/js/plugins/metisMenu/jquery.metisMenu.js" %}"></script>
<script src="{% static 'layui/layui.js' %}"></script>
<!-- Custom and plugin javascript -->
<script src="{% static "utils/js/plugins/toastr/toastr.min.js" %}"></script>
<script src="{% static "utils/js/inspinia.js" %}"></script>
<script src="{% static 'utils/js/plugins/datatables/datatables.min.js' %}"></script>



<script src="{% static 'utils/js/plugins/ztree/jquery.ztree.all.min.js' %}"></script>
<script src="{% static 'utils/js/plugins/ztree/jquery.ztree.all.min.js' %}"></script>
<script src="{% static 'utils/js/jquery.form.min.js' %}"></script>
<script src="{% static 'utils/js/jumpserver.js' %}"></script>