<div >
    <blockquote class="layui-elem-quote title" style="font-family: Microsoft YaHei">系统基本参数 <i class="layui-icon layui-icon-survey"></i></blockquote>
    <table class="layui-table magt0">
        <colgroup>
            <col width="150">
            <col>
        </colgroup>
        <tbody>
        <tr>
            <td>名称</td>
            <td class="version"></td>
        </tr>
        <tr>
            <td>业务管理者</td>
            <td class="author"></td>
        </tr>
        <tr>
            <td>机器数</td>
            <td class="homePage">index.html</td>
        </tr>
        <tr>
            <td>服务器环境</td>
            <td class="server">windows</td>
        </tr>
        <tr>
            <td>数据库版本</td>
            <td class="dataBase">8.00.2039</td>
        </tr>
        <tr>
            <td>最大上传限制</td>
            <td class="maxUpload">2M</td>
        </tr>
        <tr>
            <td>当前用户权限</td>
            <td class="userRights">超级管理员</td>
        </tr>
        </tbody>
    </table>
    <blockquote class="layui-elem-quote title">负责人 <i class="layui-icon layui-icon-survey"></i></blockquote>
        <table class="layui-table magt0">
        <colgroup>
            <col width="150">
            <col>
        </colgroup>
        <tbody>
        <tr>
            <td>名称</td>
            <td class="version"></td>
        </tr>
        <tr>
            <td>业务管理者</td>
            <td class="author"></td>
        </tr>
        <tr>
            <td>机器数</td>
            <td class="homePage">index.html</td>
        </tr>
        <tr>
            <td>服务器环境</td>
            <td class="server">windows</td>
        </tr>
        <tr>
            <td>数据库版本</td>
            <td class="dataBase">8.00.2039</td>
        </tr>
        <tr>
            <td>最大上传限制</td>
            <td class="maxUpload">2M</td>
        </tr>
        <tr>
            <td>当前用户权限</td>
            <td class="userRights">超级管理员</td>
        </tr>
        </tbody>
    </table>
</div>